<!DOCTYPE html>
{% extends "home_page/base.html" %}
{% load staticfiles %}
{% block body_block %}
    

<div id=jumbo class="jumbotron">
<div class="container">
<h1>What we do</h1>
<p>
	We at Tanta Ventures believe that everyone should have access to the best technological tools available. Unfortunately, many of these tools have price points out of reach for small and medium-sized businesses. That's just not right. We aim to give you powerful data-driven tools for <strong><em>visualization, optimization, and growth.</em></strong>
</p>
<p>
Whether you are a financial institution looking to ensure compliance with the Home Mortgage Disclosure Act and other relevant federal fair-lending legislation, or you want to leverage new technology and data to update credit risk modeling and analysis, Tanta Ventures will help ensure you get as much insight from you data as possible.</p>

<p>In today's fast-paced environment, it has become more important than ever to have every possible strategic advantage to help your business succeed. Not every company can afford to hire an in-house team of analytics experts. That is where Tanta Ventures comes in. Headquartered in Chicago, IL, Tanta Ventures will work with you to identify your needs, and then go to work building tools to help you identify opportunities to improve efficiency and profitability. </p>

<p>Money spent on digital advertising grew 20% in 2015, and another 20% in 2016, with no signs of slowing down in 2017. For all that money that is being spent, what is the return on your investment? Are you reaching your target market? How can you better understand customer needs and wants? Using advanced analytics, Tanta Ventures can help you ensure you are getting the most bang for your advertising buck, regardless of budget size.
</p>
</div>
</div>

</body>
</html>
{% endblock body_block %}