<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Tanta Ventures</title>
	<link href="https://unpkg.com/basscss@7.1.1/css/basscss.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle" 
	 <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet"> >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="navbar-header">
	<a id="logo" class="brand" href="{% url 'home_page:index' %}"><img src="{% static 'images/tanta.jpg' %}"></a>
</div>
	<ul id=navlist class="nav navbar-nav">
			
		<li><a class="navbar-link" href="{% url 'home_page:about' %}">About Us</a></li>
		<li><a class="navbar-link" href="{% url 'home_page:contact' %}">Contact Us</a></li>
		
		{% if user.is_authenticated %}
		<li><a class= 'navbar-link' href="{% url 'wallet:wallet_summary' %}">My Wallet</a></li>
		<li><a class= 'navbar-link' href="{% url 'home_page:logout' %}">Sign Out</a></li>
		{% else %}
		<li><a class="navbar-link" href="{% url 'home_page:sign_in' %}">Sign In</a></li>
		<li><a class='navbar-link' href="{% url 'home_page:getstart' %}">Get Started</a></li>
		
		{% endif %}
	</ul>
	
</nav>
<br>
<br>
<br>


</body>
{% block body_block %}
{% endblock %}
</html>