<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Tanta Ventures</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle" >

</head>
<body>

<nav class="navbar navbar-inverse">
<div class="navbar-header">
	<a id="logo" class="brand" href="{% url 'home_page:index' %}"><img src="{% static 'images/tanta.jpg' %}"></a>
</div>
	<ul id=navlist class="nav navbar-nav">
			
		<li><a class="navbar-link" href="{% url 'home_page:about' %}">About Us</a></li>
		<li><a class="navbar-link" href="{% url 'home_page:contact' %}">Contact Us</a></li>
		<li><a class="navbar-link" href="{% url 'home_page:onyx' %}">Why OnyxEngine</a></li>
		
		{% if user.is_authenticated %}
		<li><a class= 'navbar-link' href="{% url 'home_page:logout' %}">Sign Out</a></li>
		{% else %}
		<li><a class="navbar-link" href="{% url 'home_page:sign_in' %}">Sign In</a></li>
		<li><a class='navbar-link' href="{% url 'home_page:getstart' %}">Get Started</a></li>
		
		{% endif %}
	</ul>
	
</nav>

</body>
{% block body_block %}
{% endblock %}
</html>