<!DOCTYPE html>
{% extends "home_page/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="container">
<div class='jumbotron'>
	{% if registered %}
		<h1>Thank you for registering!</h1>
	{% else %}
		<h1>Get started with OnyxEngine today!</h1>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{user_form.as_p}}
			{{profile_form.as_p}}
			<input type="submit" class="btn btn-primary" value="Sign up!">

		</form>
		
	    {% endif %}
</div>
</div>


{% endblock body_block %}