<!DOCTYPE html>

{% extends "home_page/base.html" %}
{% load staticfiles %}
<html>
{% block body_block %}
<div id=jumbo class="container">
	<div class="jumbotron">
	<h1>Welcome to TantaPay</h1>
	<p class="sub">More than 2 billion of the world’s people are unbanked, primarily due to a lack of
access and high costs. At TantaPay, our mission is to get the entire world access to
financial services.</p>
<p>If you are a foreign worker looking to send money home to your family, a world
traveler looking for the easiest way to get foreign currency, a small business owner
looking to expand, or an ambitious saver looking for a place to put your savings to
work, we have a solution for you.</p>
	<p><a class="btn btn-primary btn-lg" href="{% url 'home_page:onyx' %}" role="button">Learn more</a></p>
	</div>
</div>
</section>
{% endblock body_block %}		
</body>
</html>