<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Tanta Ventures</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle" >
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/myscript.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
<div class="navbar-header">
	<a id="logo" class="brand" href="#"><img src="{% static 'images/tanta.jpg' %}"></a>
</div>
	<ul id=navlist class="nav navbar-nav">
		<li><a href="{% url 'home_page:contact' %}">Contact Us</a></li>
		<li><a href="{% url 'home_page:about' %}">About Us</a></li>
	</ul>
	
</nav>
<!-- <div id=jumbo class="container">
	<div class="jumbotron">
	<h1>Tanta Ventures</h1>
	<p>Tanta Ventures is a consulting firm providing analytical support to small and mid-size companies in a variety of industries. We build customized solutions to help your business optimize operational efficiency, manage inventory, or reduce marketing costs through targeted advertising. </p>
	<p><a class="btn btn-primary btn-lg" href="{% url 'home_page:about' %}" role="button">Learn more</a></p>
	</div>
 -->
<div class="container">
	<h2>Marketing</h2>
	<section>
	<div class="row">
		<div id= "card" class="col-lg-4 col-xs-6 thumbnail"><img src="{% static 'images/bokeh_plot.png' %}"/></div>
	</div>
</div>
</section>
		
</body>
</html>