<!DOCTYPE html>

{% extends "home_page/base.html" %}
{% load staticfiles %}
<html>
{% block body_block %}
<script src="{% static 'changethewords/jquery.changethewords.js' %}"></script>
<link rel="stylesheet" href="{% static 'changethewords/animate.changethewords.css'%}">

<script type="text/javascript">
$('document').ready(function(){
    $(function(){
      $("#changethewords").changeWords({
        time: 2000,
        animate: "fadeIn",
        selector: "span",
        repeat: false
      });
    });
    });
  </script>
 
<div class="center px3 py4 white bg-gray bg-cover bg-center" style="background-image: url(https://c1.staticflickr.com/9/8245/29792149102_8ee8177c91_h.jpg); height: 400px;">
<h1 style="color: #2b2d30; font-family: 'Fjalla One'; font-size: 61px;">Welcome to TantaPay</h1>
	
	<div class="clearfix mxn2 my4 py4" id="changethewords">
	<h2 style="color: #2b2d30;">Imagine a world without 
	<span data-id='1'>banks</span> 
	<span data-id='2'>credit cards</span> 
	<span data-id='3'>limits.</span></h2>
	</div>
	
</div>

</div>
<div class="container mt0 rounded" style="background: #a8866b; height: 250px;">
<div class='clearfix mxn2' style="color: #76797c;">
<div class="col-8 px2 mx-auto">
	<h3 style="color: #161515; font-family: 'PT Sans Narrow';">
	At TantaPay, <strong><em>you</em></strong> control your money. There is no minimum balance required in
your wallet, no inactivity fees, and no sales gimmicks to upgrade your service or
increase your fees. Choose the currencies you want to hold in your wallet, and hold
them for as long as you want.
</h3>
<a class="btn btn-default mt3 mb4" href="{% url 'home_page:about' %}" role="button">Learn more</a>

</div>

</div>
	</div>
</div>
	
	
{% endblock body_block %}		
</body>
</html>