<!DOCTYPE html>
{% extends "home_page/base.html" %}
<html>
{% block body_block %}
    

<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Why OnyxEngine?</h1>
			<p>We get it. There are a million and one different business tools out there. However, many of them have 'one size fits all' approach to a unique audience. At Tanta Ventures, we believe that your business tool should be tailored to your business! </p><br>
			<strong><h3>OnyxEngine is:</h3></strong>
			<ul>
				<p>Affordable - Pay for what you use and say goodbye to bloated software with features you never touch!</p>
				<p>Scalable - Your applications grow with your business.</p>
				<p>Secure - All our applications employ the latest security feaures available.</p>
				<p>Totally Customizable - YOU tell us what you want. No salesmen, no gimmicks, just laser-focused business tools.</p>

			</ul>
		</div>


	</div>

</body>
{% endblock body_block %}