<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle" >
<link rel="stylesheet" type="text/css" href="{% static 'css/wallet.css' %}">
<html>
<head>
	<title>
		Welcome to Tanta Wallet
	</title>
</head>
<body>
<nav class="navbar navbar-default">
<div class="navbar-header">
</div>
	<ul id=navlist class="nav navbar-nav">
			
		<li><a class="navbar-link" href="{% url 'wallet:wallet_summary' %}">My Wallet</a></li>
		<li><a class="navbar-link" href="{% url 'wallet:info' %}">My Info</a></li>
		<li><a class= 'navbar-link' href="{% url 'dashboard:logout' %}">Sign Out</a></li>
		</ul>
		</nav>
<br>
<br>
<br>
</body>
</html>
{% block content %}
{% endblock content %}