<!DOCTYPE html>
{% load staticfiles %}
<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Catamaran:800" rel="stylesheet"> 

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle" >
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="{% static 'css/bss.css' %}">
<script scr='{% static " js/myscript.js" %}'></script>
<html>
<head>
	<title>
		Welcome to Tanta Wallet
	</title>
</head>
<body>
<nav class="navbar navbar-default">
<div class="navbar-header">
</div>
	<ul id=navlist class="nav navbar-nav">
	
		<li><a class="navbar-link" href="{% url 'wallet:wallet_summary' %}">My Wallet</a></li>
		<li><a class="navbar-link" href="{% url 'wallet:transfer' %}">Transfer</a></li>
		<li><a class="navbar-link" href="{% url 'wallet:forex' %}">Currency Exchange</a></li>
		<li><a class="navbar-link" href="{% url 'wallet:settings' %}?next={{ request.path|urlencode }}">Settings</a></li>
		<li><a class="navbar-link" href="{% url 'wallet:contacts' %}">Contacts</a></li>
		{% if user.Settings.borrow_lend == True %}    
		<li><a class="navbar-link" href="{% url 'wallet:p2p' %}">Borrow or Lend</a></li>
		{% endif %}
		<li><a class="navbar-link" href="{% url 'wallet:info' %}">My Info</a></li>
		<li><a class= 'navbar-link' href="{% url 'dashboard:logout' %}">Sign Out</a></li>
		</ul>
		</nav>
<br>

</body>
</html>
{% block content %}
{% endblock content %}