{% extends "wallet/base.html" %}
{% load actview %}
{% block content %}
<div class="container">
<h1 class="center">My Contacts</h1>
<div class="center px2 py2 white bg-gray bg-cover bg-center rounded" style='background:#e5e5e5; box-shadow: 5px 5px 30px #888888;''>
{% display_contacts %}

<a href="{% url 'wallet:add_contact' %}?next={{ request.path|urlencode }}" role='button'>Add Contacts</a>
<a href="{% url 'wallet:contact_remove' %}?next={{ request.path|urlencode }}" role='button' style="color: #f4425c;">Remove Contacts</a>
    </div>
    </div>
<script>
	$(document).ready(function(){
		mixpanel.track('Contacts page loaded')
		$('h3').mouseenter(function(){
			$(this).css('color','#495799')
		});
		$('h3').mouseleave(function(){
			$(this).css('color','#353533')
		});
		$('h3').click(function(){
			var contact = $(this).html()
			$.ajax({
				context: this,
				url:"{% url 'wallet:contact_detail' %}",
				datatype: 'json',
				data: { contact : contact },
				success: function(data) {
					$(this).avgrund({
						width: 400,
						height: 300,
						showClose: true,
						showCloseText: 'close',
						template: data.map(function(object,fields) {

							var transaction = [object.fields.sender,'sent',object.fields.reciever,object.fields.amount,object.fields.transfer_date + '<br/>'].join(" ")
								return "<h3>"+transaction+"</h3>";
							
						})

						// (function(){
						//   for (var i = 0; i < data.length; i++){
						//     (data[i].fields.sender + " " + "sent" + " " +data[i].fields.reciever + " " + data[i].fields.amount)
						// 				}})
					});
			}
		});
			
		});
	});
</script>
{% endblock content %}