{% extends "wallet/base.html" %}
{% load static %}
{% load actview %}
{% block content %}
<div class='container'>
	<div class="center px2 py2 white bg-gray bg-cover bg-center" style="background: #e5e5e5; height: 800px;">
	<div class="row">
	<h2>Current Rates (base USD)</h2>

	{% show_rates %}
	<div class='flex-auto p2'>
   <h3>I want to exchange:</h3>
</div>
		<form method='post'>
{% csrf_token %}
<div class="center">
{{form2.amount}}
{{form2.currency_have}}
</div>
<div class="flex-auto p2">
	<h3>For:</h3>
	</div>
	{{form2.currency_want}}
		<br>
		<br>
	<input type="submit" class="btn btn-success" value="Exchange">
	</form>

</div>
 </div>
</div>
{% endblock content %}