{% extends "wallet/base.html" %}
{% load static %}
{% block content %}
<div class="container">
<div class="center px2 py2 white bg-gray bg-cover bg-center rounded" style='background:#e5e5e5; box-shadow: 5px 5px 30px #888888;''>
<form method="post" data-show-groups-url="{% url 'wallet:display_groups'%}">
{% csrf_token %}
<h4 class='flex justify-center'>Choose a group type:</h4>
<select name='type' id='type'>
	<option value=""></option>
	<option value="borrow">Borrow</option>
	<option value="lend">Lend</option>
</select>
<select name='group' id='group' style="display: none;">
	
</select>
<input type="hidden" name="next" value='{{ request.GET.next }}'>
<input type="submit" class="mt4 h3 p1 btn btn-success" value="Join" id='btn-submit'>
</form>
</div>
</div>
<script>
	$(document).ready(function(){
		var form = $('form')
		
		
		$('#type').change(function(){
			$("#type option[value='']").remove();
			$.ajax({
			url:"{% url 'wallet:group_limit' %}",
			datatype: 'json',
			data: form.serialize(),
			success: function(data){
					var data_value = data
						if (data_value > 0){
						$('#btn-submit').prop('disabled',true);
					}
					else{$('#btn-submit').prop('disabled',false);}
				}
		});
			
			$.ajax({
				url:form.attr('data-show-groups-url'),
				datatype: 'json',
				data: form.serialize(),
				success: function(data){
					$('#group').empty()
					for (var i = 0; i < data.length; i++){
						$('#group')
						.append($("<option></option>")
						.attr('value',data.value)
						.text(data[i].fields.name));
					}
					$('h4').text('Choose the group you wish to join');
					$('#group').show();


				}
			});
		});
		
	});


</script>
{% endblock content %}
