{% extends "wallet/base.html" %}
{% load static %}
{% load actview %}
{% block content %}
    
    <div class='container'>
<div class="center px2 py2 white bg-gray bg-cover bg-center rounded" style='background:#e5e5e5; box-shadow: 5px 5px 30px #888888;'>
<h2>Your balances are:</h2>

<div class="container mx-auto">

<div class='col col-12 mx-auto'>
<ul class="list-reset flex justify-center">

{% show_wallet %}

</ul>

<form method='post'>
{% csrf_token %}
<ul class="list-reset">
	<li class="m2">{{form.amount}}</li>
	<li class="m2"><select name='curr' id="items">
</select></li>
	<li class="m2">{{form.currency}}</li>
	<li class="m2">{{form.recipient}}</li>
</ul>



	<input type="submit" class="h3 p1 btn btn-success" value="Transfer">
	<br>
</form>
</div>
</div>

<script type="text/javascript">
$('document').ready(function(){
	var choices = [];
	$('p').each(function(index){
		var $this = $(this);
		choices[index] = [$this.html()];
	});
	$.each(choices,function(key,value){
		$('#items')
			.append($("<option></option>")
				.attr('value',value)
				.text(value));
		});
});
	

</script>

{% endblock content %}

