{% load static %}
<div class='clearfix mxn2'>

    <div class="sm-col sm-col-4 my4">
    <h2 class='h1 mb0'>Recent Activity</h2>

    {% for transfer in sent %}

    <h5>Sent {{transfer.reciever}} {{transfer.amount}} {{transfer.currency}}</h5> on {{transfer.transfer_date|date:'M d, Y P e'}}

    {% endfor %}

    {% for transfer in recieved %}
     <h5><strong>Recieved</strong> {{transfer.amount}} {{transfer.currency}}</h5> from {{transfer.sender}} on {{transfer.transfer_date|date:'M d, Y P e'}}
     {% endfor %}

    {% for transfer in changed %}
    <h5>You changed {{transfer.amount}} {{transfer.currency}}</h5>
    to {{transfer.changed_amount}} {{transfer.changed_currency}} on {{transfer.transfer_date|date:'M d, Y P'}}

    {% endfor %}
    </div>

<h2 class='h1 py2 pt4 my2 ml4 mb0'> Current Rates (base USD)</h2>
{% for rate in rates %}

<div class='sm-col sm-col-4 mt0'>
<div class="flex">
<div class="ml-auto">
<h4>{{rate.dollars}}</h4>

<h4>{{rate.euros}}</h4>

<h4>{{rate.pounds}}</h4>

<h4>{{rate.cedis}}</h4>
{% endfor %}
</div>
</div>
</div>

    </div>
    <div class='sm-flex center'>
<div class='flex-auto'>
<a class="h3 btn btn-success m2" id='fxbtn' href="{% url 'wallet:transfer' %}" role="button">Transfer Money</a></div>
<div class="flex-auto">
<a class="h3 btn btn-success m2" id='fxbtn' href="{% url 'wallet:forex' %}" role="button">Currency Exchange</a></div>
     </div>
