{% extends "wallet/base.html" %}
{% block content %}
<div class="page-header">
	<h1>TantaPay Transfer</h1>
</div>
<div class="container">
<h2>Your balance is:</h2>
<br>
<div class="container"><h2>{{ user.wallet.balance }}</h2></div>
<br>
<form method='post'>
{% csrf_token %}
	
	{{ form.as_p }}
	<br>
	<select name="currency">
		<option value="usd">USD</option>
		<option value="gbp">GBP</option>
		<option value="eur">EUR</option>
		<option value="GHC">GHC</option>
	</select>
	<br>
	<br>
	<input type="submit" class="btn btn-primary" value="Transfer">
</form>
</div>
{% endblock content %}
