<!DOCTYPE html>
{% load static %}
<html>
<head>
<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Catamaran:800" rel="stylesheet"> 

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle" >

<link rel="stylesheet" type="text/css" href="{% static 'css/bss.css' %}">
	<title>Transfer</title>
</head>
<nav class="navbar navbar-default">
<div class="navbar-header">
</div>
	<ul id=navlist class="nav navbar-nav">
			
		<li><a class="navbar-link" href="{% url 'wallet:wallet_summary' %}">My Wallet</a></li>
		<li><a class="navbar-link" href="{% url 'wallet:forex' %}">Currency Exchange</a></li>
		<li><a class="navbar-link" href="{% url 'wallet:info' %}">My Info</a></li>
		<li><a class= 'navbar-link' href="{% url 'dashboard:logout' %}">Sign Out</a></li>
		</ul>
		</nav>
<body>
<div class="center px3 mx4 white bg-gray bg-cover bg-center">
	<h1>TantaPay Transfer</h1>
</div>
<div class="container">
<div class="center px3 py4 white bg-gray bg-cover bg-center" style='background: #e5e5e5'>
<div class="row">
<h2>Your balances are:</h2>
<div class=col-md-3><h3>{{user.wallet.dollars}}</h3><img src="{% static 'images/us.png' %}"></div>
<div class=col-md-3><h3>{{user.wallet.euros}}</h3><img src="{% static 'images/euro.png' %}"></div>
<div class=col-md-3><h3>{{user.wallet.pounds}}</h3><img src="{% static 'images/uk.png' %}"></div>
<div class=col-md-3><h3>{{user.wallet.cedis}}</h3><img src="{% static 'images/ghana.ico' %}"></div>
</div>
<div class="p2 m4">
<form method='post'>
{% csrf_token %}
<ul class="list-reset">
	<li class="m2">{{form.amount}}</li>
	<li class="m2">{{form.currency}}</li>
	<li class="m2">{{form.user}}</li>
</ul>

	<input type="submit" class="h3 p1 btn btn-success" value="Transfer">
	<br>
</form>
</div>
</div>
</div>
</div>
</body>
</html>

