{% extends "wallet/base.html" %}
{% load staticfiles %}
{% load actview %}
{% block content %}
<div class='flex justify-center'>
<div class='p2 m4-center'>
<h1 style="font-family: 'News Cycle';">Welcome, {{user.username}}!</h1>
</div>
</div>

<div class='container'>
<div class="center px2 py2 white bg-gray bg-cover bg-center" style='background:#e5e5e5'>
<h2>Your balances are:</h2>

<div class="clearfix mx-auto">

<div class='col col-12 mx-auto'>
<ul class="list-reset flex justify-between mx-auto">

{% show_wallet %}
</ul>
</div>
</div>

{% show_activity %}

{% endblock content %}