{% extends "wallet/base.html" %}
{% load staticfiles %}
{% load actview %}
{% block content %}
<div class='flex justify-center'>
<div class='p2 m4-center'>
<h1 style="font-family: 'News Cycle';">Welcome, {{user.username}}!</h1>
</div>
</div>

<div class='container'>
<div class="flex flex-auto ml3 mt2" style="position: relative;"><h4>Your id is {{user.id}}</h4></div>
<div class="center px2 py2 white bg-gray bg-cover bg-center rounded" style='background:#e5e5e5; box-shadow: 5px 5px 30px #888888;'>
<h2>Your balances are:</h2>

<div class="container mx-auto">

<div class='col col-12 mx-auto'>
<ul class="list-reset flex justify-center">
{% show_wallet %}
</ul>

</div>
</div>

{% show_activity %}
<div class='center'>
<div class='col-6 mx-auto'>
<a class="h3 btn btn-success mx4 mb4 pb4" id='fxbtn' href="{% url 'wallet:transfer' %}" role="button">Transfer Money</a>

<a class="h3 btn btn-success mx4 mb4 pb4" id='fxbtn' href="{% url 'wallet:forex' %}" role="button">Currency Exchange</a></div>

<script>
	$(document).ready(function(){
		mixpanel.track('Wallet home loaded')
	})
</script>
{% endblock content %}