{% extends "wallet/base.html" %}

{% block content %}
<h1 class='center container'>Under Construction...</h1>
<h3 class='center'>Your credit score is</h3>

<script>
	$(document).ready(function(){
		$(this).avgrund({
			openOnEvent: false,
			showClose: true,
			showCloseText: 'X',
			closeByDocument: true,
			template: "<div class='mt4 center' style='top: 100px;'><h3 id='modal'>Welcome to TantaPay Peer to Peer lending!</h3><br><p style='top: 60px;'>Let's take a quick tour to learn how things work...</p></div><a id='fxbtn' class='close' role='button' style='position: absolute; top: 230px; left: 300px;'>next</a><a id='closebtn' class='close' role='button' style='position: absolute; top: 230px; left: 300px; display: None;'>close</a>"
		});
		$('#fxbtn').click(function(){
			$('#modal').text("Peer to Peer Lending is simple!");
			$('p').text("It's like borrowing money from a friend");
			$(this).hide();
			$('#closebtn').show();
		});
		$('#closebtn').click(function(){
			$(this).attr('class','avgrund-close');
		});
	});

</script>
{% endblock content %}