{% if group_list.count > 0 %}
<h3>Your Groups Are:</h3>
<div class="center container">
{% for item in group_list %}
{% if item.group.group_type == 'borrow' %}
    <div class="justify-start sm-col sm-col-4 mx4 p2">
    {{item.group}}
    </div>
{% else %}
<div class="justify-end sm-col sm-col-4 mx4 p2">
    {{item.group}}
    </div>
{% endif %}
{% endfor %}
{% endif %}
</div>
    <div class='center'>
	<a class="btn btn-default mt3 mb4" href="{% url 'wallet:groups' %}?next={% url 'wallet:info' %}" role="button">Join a Group</a></div>
<a class="btn btn-default mt3 mb4" href="{% url 'wallet:group_remove' %}?next={% url 'wallet:info' %}" role="button">Leave a Group</a></div>
