{% load static %}
<div class="center px2 py3 ml4">
<div class='container ml2'>
{% if sent.count > 0 or changed.count > 0 or recieved.count > 0%}
    
<h2 class="h1 mb0 mr4 pr4">Recent Activity</h2>
{% endif %}

<div class="flex flex-auto mxn2">

</div>
<div class="sm-col sm-col-3 ml2 px2">
    {% for transfer in sent %}

    <h5>Sent {{transfer.reciever}} {{transfer.amount}} {{transfer.currency}}</h5> on {{transfer.transfer_date|date:'M d, Y P'}}
    {% endfor %}
    </div>
<div class="sm-col sm-col-3 ml4 px2">
    {% for transfer in received %}
     <h5><strong>Recieved</strong> {{transfer.amount}} {{transfer.currency}}</h5> from {{transfer.sender}} on {{transfer.transfer_date|date:'M d, Y P'}}
     {% endfor %}
     </div>

<div class="sm-col sm-col-3 ml4 px2">
    {% for transfer in changed %}
    <h5>You changed {{transfer.amount}} {{transfer.currency}}</h5>
    to {{transfer.changed_amount}} {{transfer.changed_currency}} on {{transfer.transfer_date|date:'M d, Y P'}}

    {% endfor %}
    </div> 

</div>
</div>
</div>
</div>
</div>


    
     </div>
</div>