{% load static %}
   {% if wallet.count == 0 %}
   <div class="flex justify-center mx-auto">
   <a href="" class="col-12 mx-auto">Click here to get started</a>
   </div>
   {% endif %}

{% for item in wallet %}
<li class="inline-block mx2">
{% if item.dollars > 0 %} 
<h3>{{item.dollars}}</h3><img class="rounded" src="{% static 'images/us.png' %}"><p class="mt-0">USD</p>
{% endif %}
</li>

<li class="inline-block mx2">
{% if item.euros > 0 %}
 <h3>{{item.euros}}</h3><img class="rounded" src="{% static 'images/euro.png' %}"><p class="mt-0">EUR</p>
{% endif %}</li>


<li class="inline-block mx2">
{% if item.pounds > 0 %}   
<h3>{{item.pounds}}</h3><img class="rounded" src="{% static 'images/uk.png' %}"><p class="mt-0">GBP</p>
{% endif %}</li>

<li class="inline-block mx2">
{% if item.cedis > 0 %}  
<h3>{{item.cedis}}</h3><img src="{% static 'images/ghana.ico' %}"><p class="mt-0">GHS</p>
{% endif %}</li>

{% endfor %}